
  
  .facilities-item {
    /* position: sticky;  */
    /* top: 50px;  */
    /* margin-bottom: 50px; */
    background: white;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 10px;
  }
  
  .facilities-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  


.container .facilities-items{
    margin: 50px;
}

.facilities-heading{
    padding: 30px 15px 15px;
}

.faci-main img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.faci-main{
    position: relative;
}
.faci-main .faci-main-heading{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 50%;
    padding: 15px 100px 5px;
    border-radius: 5px;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 2rem;
}

/* Mobile Devices (max width 767px) */
@media screen and (max-width: 767px) {
    .container .facilities-para{
        margin: 0 10px;
    }
    .facilities-heading{
        padding: 30px 15px 15px;
    }
    .container .facilities-items{
        margin: 10px;
    }
    
    .faci-main img{
        width: 100%;
        height: 50vh;
    }
    .faci-main .faci-main-heading{
        font-size: 1.1rem;
        width: 80%;
        padding:  10px;
    }
    
}

/* Tablet Devices (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .faci-main img{
        width: 100%;
        height: 50vh;
    }
    .faci-main .faci-main-heading{
        font-size: 1.5rem;
        width: 80%;
        padding:  10px;
    }
    .container .facilities-items{
        margin: 20px;
    }
}
    