.about_container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 3px solid black;
}
.about_container h2{
    margin-bottom: 10px;
}
.about_container h2 span::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #f6dc49;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.about_container h2 span:hover::after {
    transform: scaleX(1);
}


/* Mobile Devices (max width 767px) */
@media screen and (max-width: 767px) {
    .about_container {
        width: 100% !important;
    }
}

/* Tablet Devices (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about_container {
        width: 100% !important;
    }

}