

.about_container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 3px solid black;
}
.about_container_heading{
    font-family: "Balthazar", serif;
}
.about_container_heading_main_heading h2{
    font-family: "Balthazar", serif;
}
.about_container_heading_main_heading h2 span::after{
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    background: #f6dc49;
    margin-top: 10px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}
.about_container_heading_main_heading h2 span:hover::after{
    transform: scaleX(1);
}
.about_container_para{
font-family: "Quicksand", sans-serif;
background: rgba(106, 106, 106, 0.199); 
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 12px;
padding: 20px;
color: rgb(134, 134, 134);
}
.about_container_main_content_about_us{
font-family: "Quicksand", sans-serif;
padding: 20px;
color: rgb(134, 134, 134);
}
.about_container h2{
    margin-bottom: 10px;
}
.about_container h2 span::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #f6dc49;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.about_container h2 span:hover::after {
    transform: scaleX(1);
}

.home_bottom_text{
    font-family: "Quicksand", sans-serif;
}


/* Mobile Devices (max width 767px) */
@media screen and (max-width: 767px) {
    .about_container {
        width: 100% !important;
    }
}

/* Tablet Devices (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about_container {
        width: 100% !important;
    }

}