.home_top_video_container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }
  
  .home_top_video_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .home_top_elements {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* text-align: center; */
    background: linear-gradient(rgba(26, 25, 25, 0.6), rgba(26, 25, 25, 0.2));
  }
  