.navbarlist {
    display: flex;
    gap: 40px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.navbarlist li {
    color: white;
    list-style: none;
    padding: 20px;
    background-color: transparent;
}

.navbarlist li a {
    text-decoration: none;
    color: white;
}

.navbarlist li:hover {
    text-decoration: underline;
}

.narbarmain {
    text-align: center;
}

.navbarlist li .link-active {
    text-decoration: underline;
    color: #FFD700;
}