.home_top_btn button {
    padding: 20px;
}

.main-page {
    overflow: hidden;
}

/* top image text css  */

.home_top_elements {
    position: relative;
    color: rgba(26, 25, 25, 0.1);
    line-height: 1.5;
}

.home_top_content {
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
}

.home_top_heading_size:nth-child(1),
.home_top_para {
    font-family: "Open Sans", sans-serif;
}

.home_top_heading_size:nth-child(2),
.home_top_heading_size:nth-child(3) {
    font-size: 12vh;
    font-family: "Playfair Display", sans-serif;
}

.home_top_heading_size:nth-child(2) {
    color: #FFD700;
}




.home_top_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    margin-top: 40px;
}
.home_top_btn button {
    font-family: "Nunito", sans-serif;
    /* font-size: 1.1rem; */
    padding: 12px 28px;
    border-radius: 50px;
    border: 2px solid #f6dc49;
    background-color: transparent;
    color: #f6dc49;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .home_top_btn button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #f6dc49;
    z-index: 1;
    transition: all 0.4s ease;
  }
  
  .home_top_btn button:hover::before {
    left: 0;
  }
  
  .home_top_btn button:hover {
      box-shadow: 0 0 15px rgba(246, 220, 73, 0.8);
      color: black;
    }
    
    .home_top_btn button span {
    position: relative;
    z-index: 2;
  }
  





.home_bottom_text {
    padding: 20px;
}

/* Mobile Devices (max width 767px) */
@media screen and (max-width: 767px) {

    .home_top_heading_size:nth-child(2),
    .home_top_heading_size:nth-child(3) {
        font-size: 7vh;
    }

    .home_top_content {
        left: 2%;
    }
}

/* Tablet Devices (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .home_top_content {
        left: 4%;
    }
}