@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/* FONT FAMILY IMPORTED */
/* font-family: "Nunito", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Balthazar", serif; */
/* font-family: "Quicksand", sans-serif; */
/* font-family: "Inter", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Playfair Display", serif; */
/* font-family: "Bebas Neue", sans-serif; */
/* font-family: "Abril Fatface", serif; */
/* font-family: "Cinzel", serif; */
/* font-family: "Raleway", sans-serif; */
/* font-family: "Great Vibes", cursive; */
/* font-family: "Prata", serif; */

.Balthazar{
  font-family: "Balthazar", serif;
}
/* html {
  pointer-events: none;
} */

::selection {
  background-color: #f6dc49;
  color: #454545;               
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container{
  width: 90%;
  margin: auto;
}
.row{
  display: flex;
}
.d-flex{
  display: flex;
}
.w-10{
  width: 10%;
  justify-content: center;
}
.w-15{
  width: 15%;
  justify-content: center;
}
.w-30{
  width: 30%;
  justify-content: center;
}
.m-auto{
  margin: auto;
}
.col-6{
  width: 50%;
  margin: 10px;
  box-sizing: border-box;
}
.text-center{
  text-align: center;
}
.text-white{
  color: white;
}
.text-black{
  color: black;
}
.bg-dark{
  background-color: black;
}
.bg-light{
  background-color: white;
}



/* hover css */



/* for mobile */
@media screen and (max-width: 750px) {
  .row{
    display: block;
  }
  .col-6{
    width: 100%;
    margin: auto;
  }
  .w-10{
    width: 100%;
  }
  .w-15{
    width: 100%;
  }
  .w-30{
    width: 100%;
  }
}


/* Tablet Devices (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .row{
    display: block;
  }
  .col-6{
    width: 100%;
    margin: auto;
  }
  .w-10{
    width: 100%;
  }
  .w-15{
    width: 100%;
  }
  .w-30{
    width: 100%;
  }
  
    
}